In [2]:
import pandas as pd
import matplotlib.pyplot as plt
# 图中中文的正常显示
plt.rcParams["font.sans-serif"] = ["SimHei"]
# 用来正常显示负号
plt.rcParams['axes.unicode_minus'] = False

In [5]:
# 输入是ratings.dat的地址，输出是一个pd对象
def getRatings(file_path):
    rates = pd.read_table(file_path, header=None, sep='::', names=['userID','movieID','rate','timestamp'],)
    return rates
rates = getRatings('ratings.dat')
rates.head()

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

   userID  movieID  rate  timestamp
0       1     1193     5  978300760
1       1      661     3  978302109
2       1      914     3  978301968
3       1     3408     4  978300275
4       1     2355     5  978824291